<table>
  <tr>
    <td>name</td>
    <td><%= @volume.name %></td>
  </tr>
  <tr>
    <td>aliases</td>
    <td><%= @volume.aliases %></td>
  </tr>
  <tr>
    <td>start_year</td>
    <td><%= @volume.start_year %></td>
  </tr>
  <tr>
    <td>description</td>
    <td><%= @volume.description.try(:html_safe) %></td>
  </tr>
  <tr>
    <td>count_of_issues</td>
    <td><%= @volume.count_of_issues %></td>
  </tr>
  <tr>
    <td>start_year</td>
    <td><%= @volume.start_year %></td>
  </tr>
  <tr>
    <td>date_added</td>
    <td><%= @volume.date_added %></td>
  </tr>
</table>
